:root {
  @import url(https://fonts.googleapis.com/css?family=Pacifico);
}
:root body {
  background: black;
  position: relative;
}
:root h1 {
  color: red;
  font-style: inherit;
  font-weight: bold;
  font-family: 'Pacifico';
}
:root #global {
  position: relative;
  border: solid;
  border-color: red;
  border-radius: 30px;
  margin: auto;
  max-width: 800px;
}
:root header {
  margin: auto;
  padding: 30px;
}
:root span {
  color: red;
}
:root #input {
  background-color: red;
  box-shadow: 0 0 30px red;
  border-radius: 10px;
  border: solid;
  border-color: red;
  color: white;
  font-family: "Arial Black";
}
:root #alltaks {
  padding: 10px;
}
:root #div1,
:root #div2,
:root #div3 {
  position: absolute;
  left: 20%;
  transition: 1s;
}
:root img {
  position: absolute;
  left: 92%;
  transition: 1s;
}
:root img:hover,
:root img:focus {
  background-color: White;
  border-radius: 7px;
  box-shadow: 0 0 30px #F2F2F2;
}
:root article {
  position: relative;
  display: flex;
}
:root .checkbox:hover,
:root .checkbox:focus {
  box-shadow: 0 0 30px #F2F2F2;
}
:root .text:hover,
:root .text:focus {
  background-color: white;
  box-shadow: 0 0 30px white;
  color: black;
}
:root .text {
  color: white;
}
:root .tacheComplete {
  text-decoration: line-through;
  opacity: 0.5;
}
:root #todolist:empty::after {
  content: "Veuillez entrer une nouvelle tâche à faire svp!";
  color: green;
  font-style: italic;
  font-family: serif;
}
:root #bouton {
  display: flex;
  cursor: pointer;
  position: fixed;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 100px;
}
:root #bouton1:hover,
:root #bouton2:hover {
  background: white;
  color: lime;
  opacity: 1;
}
:root #bouton1,
:root #bouton2 {
  opacity: 0.7;
  width: 100%;
  background-color: transparent;
  color: red;
  cursor: pointer;
}
:root #bouton1:disabled {
  display: none;
}
:root #bouton2:disabled {
  display: none;
}
:root label {
  transition: 4s;
}
:root label:focus {
  animation: 4s linear 0s normal none infinite change;
  background-color: lime;
}
@keyframes change {
  0% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes teste {
  0% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(10%);
  }
  50% {
    transform: translateX(15%);
  }
  100 {
    transform: translateX(0%);
  }
}
@media (max-height: 480px) {
  :root body {
    margin: -60px;
  }
  :root #global {
    margin: 70px;
  }
  :root label {
    animation: 4s  teste;
    background-color: lime;
  }
  :root label:hover {
    animation: 4s linear 0s normal none infinite change;
    background-color: lime;
  }
}
@media (max-width: 360px) {
  :root span {
    display: none;
  }
}
:root #un {
  left: auto;
}
:root label {
  text-align: center;
  width: 200px;
  height: 50px;
  margin: auto;
  position: fixed;
  top: 0%;
  left: 85%;
  -moz-box-shadow: inset 0 0 10px white;
  -webkit-box-shadow: inset 0 0 10px white;
  box-shadow: inset 0 0 20px white;
  border-bottom-left-radius: 30px;
  transition: 4s;
  font-size: 20px;
}
:root label:hover {
  background: lime;
  color: white;
}
:root #skin {
  color: red;
}
:root.blue-on-orange {
  @import url(https://fonts.googleapis.com/css?family=Pacifico);
}
:root.blue-on-orange body {
  background: orange;
  position: relative;
}
:root.blue-on-orange h1 {
  color: blue;
  font-style: inherit;
  font-weight: bold;
  font-family: 'Pacifico';
}
:root.blue-on-orange #global {
  position: relative;
  border: solid;
  border-color: blue;
  border-radius: 30px;
  margin: auto;
  max-width: 800px;
}
:root.blue-on-orange header {
  margin: auto;
  padding: 30px;
}
:root.blue-on-orange span {
  color: blue;
}
:root.blue-on-orange #input {
  background-color: blue;
  box-shadow: 0 0 30px blue;
  border-radius: 10px;
  border: solid;
  border-color: blue;
  color: black;
  font-family: "Arial Black";
}
:root.blue-on-orange #alltaks {
  padding: 10px;
}
:root.blue-on-orange #div1,
:root.blue-on-orange #div2,
:root.blue-on-orange #div3 {
  position: absolute;
  left: 20%;
  transition: 1s;
}
:root.blue-on-orange img {
  position: absolute;
  left: 92%;
  transition: 1s;
}
:root.blue-on-orange img:hover,
:root.blue-on-orange img:focus {
  background-color: White;
  border-radius: 7px;
  box-shadow: 0 0 30px #F2F2F2;
}
:root.blue-on-orange article {
  position: relative;
  display: flex;
}
:root.blue-on-orange .checkbox:hover,
:root.blue-on-orange .checkbox:focus {
  box-shadow: 0 0 30px #F2F2F2;
}
:root.blue-on-orange .text:hover,
:root.blue-on-orange .text:focus {
  background-color: black;
  box-shadow: 0 0 30px black;
  color: orange;
}
:root.blue-on-orange .text {
  color: black;
}
:root.blue-on-orange .tacheComplete {
  text-decoration: line-through;
  opacity: 0.5;
}
:root.blue-on-orange #todolist:empty::after {
  content: "Veuillez entrer une nouvelle tâche à faire svp!";
  color: green;
  font-style: italic;
  font-family: serif;
}
:root.blue-on-orange #bouton {
  display: flex;
  cursor: pointer;
  position: fixed;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 100px;
}
:root.blue-on-orange #bouton1:hover,
:root.blue-on-orange #bouton2:hover {
  background: black;
  color: yellow;
  opacity: 1;
}
:root.blue-on-orange #bouton1,
:root.blue-on-orange #bouton2 {
  opacity: 0.7;
  width: 100%;
  background-color: transparent;
  color: red;
  cursor: pointer;
}
:root.blue-on-orange #bouton1:disabled {
  display: none;
}
:root.blue-on-orange #bouton2:disabled {
  display: none;
}
:root.blue-on-orange label {
  transition: 4s;
}
:root.blue-on-orange label:focus {
  animation: 4s linear 0s normal none infinite change;
  background-color: yellow;
}
@keyframes change {
  0% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes teste {
  0% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(10%);
  }
  50% {
    transform: translateX(15%);
  }
  100 {
    transform: translateX(0%);
  }
}
@media (max-height: 480px) {
  :root.blue-on-orange body {
    margin: -60px;
  }
  :root.blue-on-orange #global {
    margin: 70px;
  }
  :root.blue-on-orange label {
    animation: 4s  teste;
    background-color: yellow;
  }
  :root.blue-on-orange label:hover {
    animation: 4s linear 0s normal none infinite change;
    background-color: yellow;
  }
}
@media (max-width: 360px) {
  :root.blue-on-orange span {
    display: none;
  }
}
:root.blue-on-orange #un {
  left: auto;
}
:root.blue-on-orange label {
  text-align: center;
  width: 200px;
  height: 50px;
  margin: auto;
  position: fixed;
  top: 0%;
  left: 85%;
  -moz-box-shadow: inset 0 0 10px black;
  -webkit-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 20px black;
  border-bottom-left-radius: 30px;
  transition: 4s;
  font-size: 20px;
}
:root.blue-on-orange label:hover {
  background: yellow;
  color: black;
}
:root.blue-on-orange #skin {
  color: blue;
}
:root.yellow-on-maron {
  @import url(https://fonts.googleapis.com/css?family=Pacifico);
}
:root.yellow-on-maron body {
  background: #8A4B08;
  position: relative;
}
:root.yellow-on-maron h1 {
  color: yellow;
  font-style: inherit;
  font-weight: bold;
  font-family: 'Pacifico';
}
:root.yellow-on-maron #global {
  position: relative;
  border: solid;
  border-color: yellow;
  border-radius: 30px;
  margin: auto;
  max-width: 800px;
}
:root.yellow-on-maron header {
  margin: auto;
  padding: 30px;
}
:root.yellow-on-maron span {
  color: yellow;
}
:root.yellow-on-maron #input {
  background-color: yellow;
  box-shadow: 0 0 30px yellow;
  border-radius: 10px;
  border: solid;
  border-color: yellow;
  color: black;
  font-family: "Arial Black";
}
:root.yellow-on-maron #alltaks {
  padding: 10px;
}
:root.yellow-on-maron #div1,
:root.yellow-on-maron #div2,
:root.yellow-on-maron #div3 {
  position: absolute;
  left: 20%;
  transition: 1s;
}
:root.yellow-on-maron img {
  position: absolute;
  left: 92%;
  transition: 1s;
}
:root.yellow-on-maron img:hover,
:root.yellow-on-maron img:focus {
  background-color: White;
  border-radius: 7px;
  box-shadow: 0 0 30px #F2F2F2;
}
:root.yellow-on-maron article {
  position: relative;
  display: flex;
}
:root.yellow-on-maron .checkbox:hover,
:root.yellow-on-maron .checkbox:focus {
  box-shadow: 0 0 30px #F2F2F2;
}
:root.yellow-on-maron .text:hover,
:root.yellow-on-maron .text:focus {
  background-color: black;
  box-shadow: 0 0 30px black;
  color: #8A4B08;
}
:root.yellow-on-maron .text {
  color: black;
}
:root.yellow-on-maron .tacheComplete {
  text-decoration: line-through;
  opacity: 0.5;
}
:root.yellow-on-maron #todolist:empty::after {
  content: "Veuillez entrer une nouvelle tâche à faire svp!";
  color: green;
  font-style: italic;
  font-family: serif;
}
:root.yellow-on-maron #bouton {
  display: flex;
  cursor: pointer;
  position: fixed;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 100px;
}
:root.yellow-on-maron #bouton1:hover,
:root.yellow-on-maron #bouton2:hover {
  background: black;
  color: #FF8000;
  opacity: 1;
}
:root.yellow-on-maron #bouton1,
:root.yellow-on-maron #bouton2 {
  opacity: 0.7;
  width: 100%;
  background-color: transparent;
  color: red;
  cursor: pointer;
}
:root.yellow-on-maron #bouton1:disabled {
  display: none;
}
:root.yellow-on-maron #bouton2:disabled {
  display: none;
}
:root.yellow-on-maron label {
  transition: 4s;
}
:root.yellow-on-maron label:focus {
  animation: 4s linear 0s normal none infinite change;
  background-color: #FF8000;
}
@keyframes change {
  0% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes teste {
  0% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(10%);
  }
  50% {
    transform: translateX(15%);
  }
  100 {
    transform: translateX(0%);
  }
}
@media (max-height: 480px) {
  :root.yellow-on-maron body {
    margin: -60px;
  }
  :root.yellow-on-maron #global {
    margin: 70px;
  }
  :root.yellow-on-maron label {
    animation: 4s  teste;
    background-color: #FF8000;
  }
  :root.yellow-on-maron label:hover {
    animation: 4s linear 0s normal none infinite change;
    background-color: #FF8000;
  }
}
@media (max-width: 360px) {
  :root.yellow-on-maron span {
    display: none;
  }
}
:root.yellow-on-maron #un {
  left: auto;
}
:root.yellow-on-maron label {
  text-align: center;
  width: 200px;
  height: 50px;
  margin: auto;
  position: fixed;
  top: 0%;
  left: 85%;
  -moz-box-shadow: inset 0 0 10px black;
  -webkit-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 20px black;
  border-bottom-left-radius: 30px;
  transition: 4s;
  font-size: 20px;
}
:root.yellow-on-maron label:hover {
  background: #FF8000;
  color: black;
}
:root.yellow-on-maron #skin {
  color: yellow;
}
:root.bleu-on-rose {
  @import url(https://fonts.googleapis.com/css?family=Pacifico);
}
:root.bleu-on-rose body {
  background: pink;
  position: relative;
}
:root.bleu-on-rose h1 {
  color: blue;
  font-style: inherit;
  font-weight: bold;
  font-family: 'Pacifico';
}
:root.bleu-on-rose #global {
  position: relative;
  border: solid;
  border-color: blue;
  border-radius: 30px;
  margin: auto;
  max-width: 800px;
}
:root.bleu-on-rose header {
  margin: auto;
  padding: 30px;
}
:root.bleu-on-rose span {
  color: blue;
}
:root.bleu-on-rose #input {
  background-color: blue;
  box-shadow: 0 0 30px blue;
  border-radius: 10px;
  border: solid;
  border-color: blue;
  color: black;
  font-family: "Arial Black";
}
:root.bleu-on-rose #alltaks {
  padding: 10px;
}
:root.bleu-on-rose #div1,
:root.bleu-on-rose #div2,
:root.bleu-on-rose #div3 {
  position: absolute;
  left: 20%;
  transition: 1s;
}
:root.bleu-on-rose img {
  position: absolute;
  left: 92%;
  transition: 1s;
}
:root.bleu-on-rose img:hover,
:root.bleu-on-rose img:focus {
  background-color: White;
  border-radius: 7px;
  box-shadow: 0 0 30px #F2F2F2;
}
:root.bleu-on-rose article {
  position: relative;
  display: flex;
}
:root.bleu-on-rose .checkbox:hover,
:root.bleu-on-rose .checkbox:focus {
  box-shadow: 0 0 30px #F2F2F2;
}
:root.bleu-on-rose .text:hover,
:root.bleu-on-rose .text:focus {
  background-color: black;
  box-shadow: 0 0 30px black;
  color: pink;
}
:root.bleu-on-rose .text {
  color: black;
}
:root.bleu-on-rose .tacheComplete {
  text-decoration: line-through;
  opacity: 0.5;
}
:root.bleu-on-rose #todolist:empty::after {
  content: "Veuillez entrer une nouvelle tâche à faire svp!";
  color: green;
  font-style: italic;
  font-family: serif;
}
:root.bleu-on-rose #bouton {
  display: flex;
  cursor: pointer;
  position: fixed;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 100px;
}
:root.bleu-on-rose #bouton1:hover,
:root.bleu-on-rose #bouton2:hover {
  background: black;
  color: #FF00BF;
  opacity: 1;
}
:root.bleu-on-rose #bouton1,
:root.bleu-on-rose #bouton2 {
  opacity: 0.7;
  width: 100%;
  background-color: transparent;
  color: red;
  cursor: pointer;
}
:root.bleu-on-rose #bouton1:disabled {
  display: none;
}
:root.bleu-on-rose #bouton2:disabled {
  display: none;
}
:root.bleu-on-rose label {
  transition: 4s;
}
:root.bleu-on-rose label:focus {
  animation: 4s linear 0s normal none infinite change;
  background-color: #FF00BF;
}
@keyframes change {
  0% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes teste {
  0% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(10%);
  }
  50% {
    transform: translateX(15%);
  }
  100 {
    transform: translateX(0%);
  }
}
@media (max-height: 480px) {
  :root.bleu-on-rose body {
    margin: -60px;
  }
  :root.bleu-on-rose #global {
    margin: 70px;
  }
  :root.bleu-on-rose label {
    animation: 4s  teste;
    background-color: #FF00BF;
  }
  :root.bleu-on-rose label:hover {
    animation: 4s linear 0s normal none infinite change;
    background-color: #FF00BF;
  }
}
@media (max-width: 360px) {
  :root.bleu-on-rose span {
    display: none;
  }
}
:root.bleu-on-rose #un {
  left: auto;
}
:root.bleu-on-rose label {
  text-align: center;
  width: 200px;
  height: 50px;
  margin: auto;
  position: fixed;
  top: 0%;
  left: 85%;
  -moz-box-shadow: inset 0 0 10px black;
  -webkit-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 20px black;
  border-bottom-left-radius: 30px;
  transition: 4s;
  font-size: 20px;
}
:root.bleu-on-rose label:hover {
  background: #FF00BF;
  color: black;
}
:root.bleu-on-rose #skin {
  color: blue;
}
